extends ../../core/index
block head
  script(src="/public/index.js")

block body
  form(action=socket / data)
    div
        input(type=text name='action' value='start')
    div
        input(type=text name='search' value='search')
    div
        button(type=submit) submit
